<h1><%= t "forgot_password.title" %></h1>

<p><%= t "forgot_password.greeting" %></p>
  <%= link_to "forgot_password.subject", edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "forgot_password.expire" %></p>

<p>
  <%= t "forgot_password.warn" %>
</p>
